@font-face {
  font-family: "Bigblue";
  src: url("font/BigBlueTerminal/BigBlueTermPlusNerdFontPropo-Regular.ttf");
}
@font-face {
    font-family: "Cinzel";
    src: url("font/Cinzel/static/Cinzel-Regular.ttf");
}
@font-face {
    font-family: "departure";
    src: url("font/DepartureMono/DepartureMonoNerdFont-Regular.otf");
}
html {
    height: 100%;
    overflow: auto; /* 允许页面滚动 */
  } 
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* 占据完整视口高度 */
    overflow-y: auto; /*确保只有 body 有滚动条 */
  }
  /* 外层容器 */
  .parallax-container {
    perspective: 3px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("image/photo2pixel_download\ (7).png");
    background-repeat: repeat; 
    background-size: 100%; 
    transform: translateZ(-7px) scale(6);
    z-index: -1;
  }  
  .content {
    background: rgba(255, 255, 255, 0);
    position: relative;
    height: 200vh; 
    padding: 5%;
  }  
.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   background-image: url("image/photo2pixel_download\ (7).png");
    background-size: cover;
    background-attachment: fixed; 
    z-index: -1; 
    transform: translateZ(-2px) scale(3);
  }
  .button-container {
    position: sticky;
    top: 5px;
    z-index: 1;

    display: flex;          /* 启用 Flex 布局 */
    justify-content: space-around; /* 平均分配空间 */
    gap: 2%;             /* 按钮间距（可选） */
    width: 100%;
    height: 5%;       /* 确保容器占满父级宽度 */

  }
  
  .button-container button {
    flex: 1;               /* 按钮平分剩余空间 */
    margin : 1%;
    height : 70%;

    border-style: dashed;
    border-radius: 5%;

    font: inherit;
    font-size : 3vw;

    cursor : pointer;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font-family: "departure";
    transition: all 0.1s ease;  /* 防止按钮文字换行 */

  }
  .button-container  button.normal {
    background: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(5px); 
  }
  
  .button-container  button.normal:hover {
    color:white;
    background-color: #002aff5f; 
    backdrop-filter: blur(15px);
    transform: translateY(-2px); 
    box-shadow: 0 10px 12px rgba(0,0,0,0.2); 
  }
  
  .button-container  button.normal:active {
    transform: translateY(1px);   
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); 
  }
  
  .button-container button.noborder {
    width:auto;
    height:auto;

    background-image: url('icon/cloudy\ \(1\).png');
    background-size: 45px 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    border-style: none;

  }
  
  .button-container button.noborder:hover {
    color:rgba(255, 255, 255, 0);
    background-color: #00000000;  
    transform: translateY(-2px); 
  }

    .button-container  button.noborder:active {
    transform: translateY(1px); 
  }

  h1{
    font-family: "Bigblue";
    text-transform: capitalize;
    font-variant:small-caps;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px  rgb(0, 51, 235);
    font-weight: lighter;

    border-bottom-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px ;
    border-radius: 4%;
    padding: 10px;
    transition: all 0.1s ease;

}

  h1:hover{
    text-shadow:4px 5px #002db3;
}

.text-container {
  overflow: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    min-height: 100vh;         
    margin: 0;                
}  
  
.text-box {

    float: left;
    position: sticky;
    top: 100px;

    align-items: center;
    text-align: center;
    width:90%;             /* 固定宽度 */
    max-width: 90%;           /* 响应式：最大占父容器的80% */
    padding: 5%;            /* 内边距 */
    border: 1px solid #cccccc00;   /* 可选边框 */

  }
  
  p{

    font-family: "departure";
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(0, 94, 255);
    text-align: justify;
    word-spacing: 3px;
    font-size:2vw;

    border-style: solid ;
    border-width: 0px 0px 0px 4px ;
    border-color: rgb(0, 55, 255);

    background-color: transparent;

    padding :1%;
    margin: 2% auto;
    width:80%;
    position:relative;
    transition:all 0.05s ease;

}
p:hover{
    color: rgb(255, 255, 255);
    transform:translateY(-1px);
    background-color: rgba(255, 255, 255, 0.148);
    backdrop-filter: blur(10px);
}

.index-box{
  border-right: solid;
  border-color: azure;
  z-index: 1;
  float: left;
  display:none;

}
